{% extends 'base.html.twig' %}

{% form_theme form 'tailwind_2_layout.html.twig' %}

{% block title %} Espace administratif {% endblock %}

{% block body %}

{% if app.user %}
        <div class="mb-3 flex justify-end my-3 mx-3">
            <a href="{{ path('app_logout') }}" class="btn btn-lg text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Se déconnecter</a>
        </div>                   
{% endif %}

    <div class="flex text-center my-5 adminDashboard items-center">
        {% include 'dashboard/dashboard.html.twig' %}
            {% for user in user %}
                <div class="form">
                    {{form_start(form, {'attr': {'class': 'w-full my-3 flex flex-col items-center'}}) }}
                        <h1 class="text-center text-xl">Modification des renseignements patient :</h1>
                        <div class="my-3 flex formInputs">
                            <div class="my-3">
                            {{ form_label(form.lastName, 'Nom : ')}}
                            {{ form_widget(form.lastName, {'attr': {'class': 'form-control, rounded, appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white'}}) }}
                            {{ form_errors(form.lastName) }}
                            </div>

                            <div class="my-3">
                            {{ form_label(form.firstName, 'Prénom : ')}}
                            {{ form_widget(form.firstName, {'attr': {'class': 'form-control, rounded, appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white'}}) }}
                            {{ form_errors(form.firstName) }}
                            </div>
                        </div>
                
                        <div class="my-3 flex formInputs">
                            <div class="my-3">
                                {{ form_label(form.email, 'Email : ')}}
                                {{ form_widget(form.email, {'attr': {'class': 'form-control, rounded, appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white'}}) }}
                                {{ form_errors(form.email) }}
                            </div>
                
                            <div class="my-3">
                                {{ form_label(form.password, 'Mot de passe : ')}}
                                {{ form_widget(form.password, {'attr': {'class': 'form-control, rounded, appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white'}}) }}
                                {{ form_errors(form.password) }}
                            </div>
                        </div>

                        <div class="my-3 flex">
                            {{ form_label(form.roles, 'Role :')}}
                            {{ form_widget(form.roles, {'attr': {'class': ' flex form-control rounded'}}) }}
                            {{ form_errors(form.roles) }} 
                        </div>

                        <div class="formInputs my-3 flex">
                            <div class="my-3">
                                {{ form_label(form.diet, 'Régime alimentaire : ')}}
                                {{ form_widget(form.diet, {'attr': {'class': 'form-control, rounded, appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white'}}) }}
                                {{ form_errors(form.diet) }} 
                            </div>

                            <div class="my-3">
                                {{ form_label(form.allergens, 'Allergies alimentaires : ')}}
                                {{ form_widget(form.allergens, {'attr': {'class': 'form-control, rounded, appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white' }}) }}
                                {{ form_errors(form.allergens) }} 
                            </div>
                        </div>
                
                        <div class="my-3 flex justify-center">
                            <button class="btn btn-lg text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit"> 
                                Ajouter
                            </button>
                        </div>

                        <button class="btn btn-lg text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit"> 
                            Retour à l'accueil
                        </button>
                        
                    {{ form_end(form) }}
                </div>
                
            {% endfor %}
    
    </div>
{% endblock %}