{% extends 'base.html.twig' %}

{% block title %} Espace administratif {% endblock %}

{% block body %}
{% if app.user %}
        <div class="mb-3 flex justify-end my-3 mx-3">
            <a href="{{ path('app_logout') }}" class="btn btn-lg text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Se déconnecter</a>
        </div>                   
{% endif %}

    <div class="flex justify-center">
    
        {% for user in user %}
            {% for roles in user.roles %}
                {% if roles == "ROLE_ADMIN" %}
                {{form_start(form) }}

                {{ form_label(form.lastName, 'Nom : ')}}
                {{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.lastName) }}

                {{ form_label(form.firstName, 'Prénom : ')}}
                {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.firstName) }}
                    
                {{ form_label(form.email, 'Email : ')}}
                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.email) }}

                {{ form_label(form.password, 'Mot de passe : ')}}
                {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.password) }}

                {{ form_label(form.roles, 'Role : ')}}
                {{ form_widget(form.roles, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.roles) }} 

            
                {{ form_label(form.diet, 'Régime alimentaire : ')}}
                {{ form_widget(form.diet, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.diet) }} 
                
                {{ form_label(form.allergens, 'Allergies alimentaires : ')}}
                {{ form_widget(form.allergens, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.allergens) }} 
                
                    <button class="btn btn-lg text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit"> 
                        Créer 
                    </button>

                {{ form_end(form) }}

                {% endif %}
             {% endfor %}
        {% endfor %}
    

{% endblock %}